/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-left {
    font-size: 15px;
    font-weight: bold;
  }
  
  .company-name {
    color: #333;
    margin: 0;
  }
  
  .navbar-right {
    display: flex;
    gap: 20px;
  }
  
  .nav-btn {
    background: none;
    border: none;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .nav-btn:hover {
    color: #3e7c24;
  }
  